@font-face {
  font-family: "Gotham Pro Light";
  src: url("../fonts/GothamPro-Light.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Gotham Pro Medium";
  src: url("../fonts/GothamPro-Medium.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Gotham Pro";
  src: url("../fonts/GothamPro-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
body {
  background-color: #292929;
  color: #fff;
  font-family: Gotham Pro, sans-serif;
  margin: 0;
}
*,
*::after,
*::before {
  box-sizing: border-box;
}
.header {
  padding-top: 50px;
}
.text-color-red {
  color: #ff3469;
  font-family: Gotham Pro Medium;
}
.header-description {
  font-family: Gotham Pro Light;
  letter-spacing: 0.12px;
  font-size: 12px;
}
.header-phone {
  display: block;
  text-decoration: none;
  color: #fff;
  font-size: 20px;
  text-align: right;
  font-weight: 500;
}
.header-info {
  display: block;
  margin-top: 7px;
  text-align: right;
  font-size: 12px;
  font-weight: 400;
}
.callback {
  color: #ff3469;
  text-align: right;
  display: block;
  margin-top: 16px;
  font-size: 16px;
}
.hero {
  text-align: center;
  padding-top: 100px;
  padding-bottom: 77px;
  border-bottom: 1px solid #4c4c4c;
}
.hero-title {
  font-size: 34px;
  margin-bottom: 34px;
  text-transform: uppercase;
  letter-spacing: 0.34px;
  font-family: Gotham Pro Medium;
}
.hero-descripiton {
  font-size: 18px;
  font-family: Gotham Pro Light;
  text-transform: uppercase;
  letter-spacing: 0.18px;
  line-height: 1.4;
}
.flowers-slider {
  width: 100%;
  text-align: center;
  margin-bottom: 83px;
  margin-top: 87px;
}
:root {
  --swiper-navigation-size: 18px;
}
.hero-cta {
  font-family: Gotham Pro Light;
  display: block;
  font-size: 19px;
  text-transform: uppercase;
}
.button {
  font-size: 18px;
  text-transform: uppercase;
  text-decoration: none;
  color: #fff;
  padding: 30px 65px 26px;
  background-color: #ff2e55;
  margin-top: 36px;
  display: inline-block;
}

.reviews {
  padding: 100px 0;
}
.review-image {
  width: 220px;
  height: 220px;
  flex-shrink: 0;
  border-radius: 50%;
  overflow: hidden;
  font-size: 20px;
  font-family: Gotham Pro Light;
  border: none;
  position: relative;
  margin-right: 50px;
}
.review-image:before {
  content: "";
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  position: absolute;
}
.review-image > * {
  position: relative;
}

.review-image-1 {
  background: #000 url(../img/bucket.png);
}
.review-image-2 {
  background: #000 url(../img/bucket-2.png);
}
.review-name {
  margin-bottom: 7px;
}
.review-slide {
  padding-right: 60px;
  padding-left: 60px;
}
.review-text {
  font-size: 18px;
  letter-spacing: 0.18px;
  line-height: 1.4;
  max-width: 480px;
}
.review-link {
  color: #f24841;
}
.section-title {
  font-size: 30px;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 100px;
}
